<?xml version="1.0"?>
<model>
  <name>Iris Control Allocation Model</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_mono_camera.sdf</sdf>

  <author>
   <name>subakio</name>
   <email>yslee@subak.io</email>
  </author>

  <description>
    Subakio iris model for kari project.
  </description>
</model>
